{% extends "base.html" %}

{% block content %}
<div class="databox">
	<h2>Forgot password?</h2>
	
	<p>
		If you saved your mail address in your account and the mail address has been confirmed by you, you can request
		a new password here.
	</p>
	
	<form action="{% url "wtp.views.forgotPassword" %}" method="post">
		{% csrf_token %}
		
		{{ form.non_field_errors }}
		
		<table>
			{% for field in form %}
				<tr>
					<td>{{ field.label_tag }}:</td>
					<td>{{ field.errors }}{{ field }}</td>
				</tr>
			{% endfor %}
			
			<tr>
				<td colspan="2" class="submit-button">
					<input type="submit" name="submit" value="Send new password" />
				</td>
			</tr>
		</table>
	</form>
</div>
{% endblock %}
